:host {
  display: block;
  position: relative;
  z-index: 9;
}

.field:not(.media) {
  width: 100%;
  padding: 0 1rem;
}

.user-detail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 54px;
}
.action {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.7rem;
}

.media {
  width: 100%;
  border-top: 1px solid blueviolet;
  border-bottom: 1px solid blueviolet;
}
.media img {
  max-width: 100%;
  width: 100%;
  visibility: hidden;
}
.action--reaction {
  display: flex;
}

.action i {
  font-size: 22px;
  // padding: 0.25rem 0.5rem;
  margin: 0.5rem 0.5rem 0 0;
}
.action i.fas.fa-heart {
  color: #ed4956;
}
.likedlist {
  margin-bottom: 1rem;
}
.comment--list {
  padding-bottom: 1rem;
  border-bottom: 1px solid #f9a1f9;
}
.comment--input {
  height: 4rem;
  // padding: 0.5rem;
  display: flex;
  align-items: center;
}
.input-comment {
  background: transparent;
  width: 100%;
  height: 60%;
  outline: none;
  border: none;
}

.comment--input button:disabled {
  cursor: default;
  border: none;
  outline: none;
  color: #40c8d7;
}
.comment--input button {
  cursor: pointer;
  border: none;
  outline: none;
  color: #5c23f3;
  background: transparent;
}
.view-liked {
  display: flex;
  padding: 1rem;
  position: fixed;
  z-index: 1;
  left: 30vw;
  top: 10vh;
  flex-direction: column;
  max-height: 80vh;
  width: 40vw;
  z-index: 1;
  border-radius: 1rem;
  box-shadow: 0px 0px 5px #dcd1e7;
  background-color: #fafafa;
}

.view-liked--header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid #2197f6;
}
.liked-list {
  width: 100%;
  overflow-y: scroll;
  padding: 1rem;
}
.fetching {
  position: fixed;
  left: calc(50vw - 32px);
  top: 6vh;
  width: 60px;
  height: 60px;
  background-color: transparent;
  transition: 0.25s;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 2px #ef2e3d;
  animation-name: fetching;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
}
@keyframes fetching {
  0% {
    border-top: 6px solid #da4682;
    border-left: 6px solid #e8416d;
    border-bottom: 6px solid #e83543;
    border-right: 6px solid #ef2e3d;
  }
  100% {
    transform-origin: center center;
    transform: rotateZ(360deg);
    border-bottom: 6px solid #da4682;
    border-right: 6px solid #e8416d;
    border-top: 6px solid #e83543;
    border-left: 6px solid #ef2e3d;
  }
}
.toggle-wrapper {
  width: calc(100vw - 16px);
  height: 100vh;
  position: fixed;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
}
.toggle-wrapper .container--full {
  max-height: 80vh;
}
.cancel-view {
  width: fit-content;
  height: fit-content;
}
.full-comment {
  max-width: 60vw;
  max-height: 80vh;
  margin: auto auto;
  z-index: 20;
  background-color: #ffffff;
}

.toggle-wrapper .media {
  max-height: 100%;
  max-width: 60%;
}
.full-comment .media img {
  max-width: 100%;
  max-height: 100%;
}
.full-comment .comment--list {
  overflow-y: scroll;
}
.flex-column {
  display: flex;
  flex-direction: row;
}
.full-comment-side {
  display: flex;
  flex-direction: column;
  width: 40%;
}
//SKELETON
.card {
  height: 500px;
  background-color: white;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}
.box {
  margin: 0 auto;
  border-radius: 10px;
  /* box-shadow: 0px 3px 10px rgba(0, 0, 0, .15) */
}
.sub-box {
  width: 30%;
  height: 10px;
  border-radius: 6px;
}
.box1 {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
}
.box2 {
  height: 60%;
  border-radius: 0px;
}
.box3 {
  height: 20%;
  border-radius: 0px;
  width: 100%;
}
.box31 {
  height: calc(100% - 10px);
  width: calc(100% - 20px);
  margin: 5px 10px;
}
.box4 {
  height: 10%;
}
.box41 {
  height: calc(100% - 6px);
  width: calc(100% - 20px);
  margin: 0px auto;
  margin-bottom: 3px;
}
.circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 0 20px;
}

.box11 {
  width: 30%;
  height: 10px;
}
