<div class="sidenav">
  <div class="user--info">
    <img [src]="userData.avatarPath" class="avatar--medium" alt="" />
    <div class="username">
      <a href=""
        ><span>{{ userData.username }}</span></a
      >
      <span>{{ userData.name }}</span>
    </div>
  </div>
  <div class="recommend">
    <div class="recommend__field foryou">
      <span>Goi y cho ban</span>
      <a href=""><span>Xem tat ca</span></a>
    </div>
    <div class="recommend__field">
      <div class="user--info">
        <img class="avatar--small" src="assets/avatar.png" alt="" />
        <a href=""><span>phamquang.tai</span></a>
      </div>
      <a href=""><span>Theo doi</span></a>
    </div>
  </div>
</div>
